body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: monospace, sans-serif;
}

h1 {
  padding-top: 10%;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #18180b, -4px 0 0 #9e5c58, 2px 0 0 #207c20, 4px 0 0 #4405fc;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

p {
  font-size: 16px;
  color: chartreuse;
}

div.msg-wrapper {
  height: 25px;
  margin: 0;
  padding: 0;
}

p.msg {
  font-family: 'Press Start 2P', cursive, sans-serif;
  color: goldenrod;
}

.btn-wrapper {
  padding-top: 20px;
}

.btn-start,
.btn-exit,
.btn-newCard,
.btn-retry {
  max-width: 120px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: green;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  text-align: center;
}

.btn-newCard {
  width: 120px;
  margin-left: 10px;
}

.btn-start:hover,
.btn-exit:hover,
.btn-newCard:hover,
.btn-retry:hover {
  cursor: pointer;
}

.btn-start:hover {
  background-color: goldenrod;
}

.btn-retry:hover {
  background-color: red;
}

#btn-newCard:hover {
  background-color: goldenrod;
}


.player-details-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.player-details-wrapper p {
  text-align: left;
  margin: 0;
}

.error {
  text-align: left;
  color: red;
}

.player-details-wrapper p.player-name-container {
  margin-bottom: 10px;
}

.player-name {
  margin-left: 5px;
  border: none;
  border-radius: 0;
  background-color: oldlace;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.player-chips-container span:first-of-type,
.player-chips {
  color: red;
}