body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: monospace, sans-serif;
}

h1 {
  padding-top: 10%;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #18180b, -4px 0 0 #9e5c58, 2px 0 0 #207c20, 4px 0 0 #4405fc;
  font-family: 'Press Start 2P', cursive, sans-serif;
}

p {
  font-size: 16px;
  color: chartreuse;
}

div.msg-wrapper {
  height: 25px;
  margin: 0;
  padding: 0;
}

p.msg {
  font-family: 'Press Start 2P', cursive, sans-serif;
  color: goldenrod;
}

.button-wrapper {
  padding-top: 20px;
}

.button-wrapper button:nth-child(n+2) {
  margin-left: 10px;
}

#btn-start,
#btn-hit,
#btn-stand,
#btn-bet,
#btn-retry {
  max-width: 120px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: green;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  text-align: center;
}

#btn-hit,
#btn-stand,
#btn-bet,
#btn-retry {
  width: 120px;
}

#btn-start:hover,
#btn-stand:hover,
#btn-hit:hover,
#btn-bet:hover
#btn-retry:hover {
  cursor: pointer;
}

#btn-start:hover,
#btn-hit:hover,
#btn-bet:hover,
#btn-stand:hover {
  background-color: goldenrod;
}

#btn-retry:hover {
  background-color: red;
}


.user-details-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.user-details-wrapper p.player-name-container {
  margin-bottom: 10px;
}

.player-chips-label > span:first-of-type,
.player-chips {
  color: red;
}

#custom-prompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: palegreen;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#custom-prompt label {
  color: black;
}

.prompt-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.prompt-button-wrapper button:last-child {
  margin-left: 10px;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}